EdwinToolBar {
    background: linear-gradient(to bottom, #f9fbfa, #efefef);
    border-color: #d0d0d0;
    padding: 12px;
    box-shadow: 0 1px #f7f7f7;
}
EdwinToolBarParagraphStyleChooser > .button {
    padding: 0 4px 0 4px;
    box-shadow: inset 1px 1px white, 1px 1px white;
}
EdwinToolBarTextSizeChooser > .button {
    padding: 0 4px 0 6px;
    border-width: 1px 1px 1px 0;
    border-color: #c5c5c5;
    border-top-color: #bababa;
    background-image: linear-gradient(to bottom, #f0f0f0 0%, #f6f7f8 100%);
    box-shadow: 1px 1px white;
}
EdwinToolBarTextSizeChooser > .entry {
    padding: 0 1px 0 6px;
    border-width: 1px 0 1px 1px;
    border-color: #c5c5c5;
    border-left-color: #bababa;
    border-top-color: #bababa;
    background-image: linear-gradient(to bottom, #f0f0f0 0%, #f6f7f8 100%);
    background-color: #f6f7f8;
    box-shadow: 0 1px white;
}
EdwinToolBarColorChooser {
    border-width: 1px 1px 1px 0;
    box-shadow: inset 0 1px white, 1px 1px white;
}
EdwinToolBarButton,
EdwinToolBarModeButton > .button {
    padding-left: 7px;
    padding-right: 7px;
    box-shadow: inset 1px 1px white, 1px 1px white;
}
EdwinToolBarFontButton {
    border-width: 1px 0 1px 1px;
    box-shadow: inset 1px 1px white, 0 1px white;
}
EdwinToolBarFontButton > .label {
    padding-left: 3px;
}
EdwinToolBarButton,
EdwinToolBarFontButton,
EdwinToolBarColorChooser,
EdwinToolBarModeButton > .button,
EdwinToolBarParagraphStyleChooser > .button {
    border-color: #c5c5c5;
    border-left-color: #d2d2d2;
    border-top-color: #d2d2d2;
    background-image: none;
    background-color: #f6f7f8;
}
EdwinToolBarModeButton:insensitive,
EdwinToolBarModeButton > .button:insensitive,
EdwinToolBarParagraphStyleChooser > .button:insensitive {
    color: #a7a7a7;
    border-color: #dfdfdf;
    border-left-color: #e5e5e5;
    border-top-color: #e5e5e5;
    background-image: none;
    background-color: transparent;
    box-shadow: inset 1px 1px #fbfbfb, 1px 1px #fbfbfb;
}
EdwinToolBarButton:checked,
EdwinToolBarButton:active,
EdwinToolBarModeButton > .button:checked,
EdwinToolBarModeButton > .button:active {
    border-color: #b6b6b6;
    background-color: #ebebeb;
    box-shadow: inset 0 0 3px #dedede, 1px 1px white;
}
