[Desktop Entry]
Name=Edwin
GenericName=Edwin
Comment=Simple document writer for elementary OS
Categories=GTK;Publishing
Exec=edwin
Icon=accessories-text-editor
Terminal=false
Type=Application
